# Node dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# Logs
*.log

# Ignore macOS Finder metadata
.DS_Store

# If you ever want to include a specific file inside an ignored folder:
# !dist/important.js
